button
{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkblue;
}

    .blinking {
      animation: blink 1s infinite;
    }
body {
      margin: 0;
      font-family: Verdana, sans-serif;
      background-color: #e0e0e0;
    }
    header, footer {
      background: darkred;
      color: white;
      padding: 10px;
      text-align: center;
    }