
      body {
          background-image: url('https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2023/02/ArteConceitual-ArduinoPratica-scaled.jpg');
        background-size: cover;        /* gambar memenuhi layar tapi proporsional */
  background-position: center;   /* fokus di tengah */
  background-repeat: no-repeat;  /* jangan diulang */
  image-rendering: crisp-edges;

        font-family: "Segoe UI", sans-serif;
        line-height: 1.7;
        margin: 30px;
      }

      h1 {
        color: rgb(139, 0, 7);
        text-align: center;
        text-shadow: 2px 2px 3px lightgray;
      }

      hr {
        border: none;
        height: 3px;
        background-color: #1565c0;
        margin-bottom: 20px;
      }

      .box {
        margin: 20px 0;
        padding: 15px;
        border: 2px solid #444;
        background-color: #0d75be;
        border-radius: 10px;
      }

      ul {
        margin-left: 40px;
      }

      li {
        margin-bottom: 5px;
      }

      form input[type="submit"] {
        background-color: #1976d2;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 15px;
      }

      form input[type="submit"]:hover {
        background-color: #19a10d;
      }

